jobs:
  include:

    ## ----------------------------------------
    ## --- Steps to test and build the code
    ## ----------------------------------------

    - language: dart
      stage: Analyze and test
      if: branch != gh-pages
      install:
        - pub get
        - pub upgrade
        - pub run build_runner build test --delete-conflicting-outputs

      script:
        - dart analyze
        - pub run test

    ## ----------------------------------------------------
    ## --- Steps to build and publish the documentation
    ## ----------------------------------------------------

    - language: node_js
      stage: Build docs
      node_js:
        - lts/*

      install:
        - npm ci

      script:
        - npm run docs:build
        - echo 'dart.sdk.docs.commercio.network' > docs/.vuepress/dist/CNAME

      deploy:
        provider: pages
        skip-cleanup: true
        local_dir: docs/.vuepress/dist
        github_token: $GITHUB_TOKEN
        keep_history: true
        on:
          branch: master
