os: linux
language: shell
jobs:
  include:

    ## ----------------------------------------
    ## --- Steps to test and build the code
    ## ----------------------------------------

    - language: dart
      dart_task:
        - test: --platform vm
        - dartfmt
        - dartanalyzer: --fatal-warnings lib

    ## ----------------------------------------------------
    ## --- Steps to build and publish the documentation
    ## ----------------------------------------------------

    - language: node_js
      node_js:
        - lts/*

      install:
        - npm ci

      script:
        - npm run docs:build
        - echo 'dart.sdk.docs.commercio.network' > docs/.vuepress/dist/CNAME

      deploy:
        provider: pages
        cleanup: false
        local_dir: docs/.vuepress/dist
        token: $GITHUB_TOKEN
        keep_history: true
        on:
          tags: true
